## IDE specific ##

# Eclipse
.classpath
.metadata
.project
.settings/

# Intellij
.idea/
*.iws
*.iml
*.ipr
*.DS_Store

# VS Code
.vscode/

## Code specific ##

# Go
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
